# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/AWSHowTo.cloudwatchlogs.html#AWSHowTo.cloudwatchlogs.streaming
# based on https://github.com/awsdocs/elastic-beanstalk-samples/blob/master/configuration-files/aws-provided/instance-configuration/logs-streamtocloudwatch-linux.config

# no need to enable log streaming with option_settings, since terraform should do that

packages:
  yum:
    awslogs: []

files:
  "/etc/awslogs/config/logs.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      [/var/log/containers/graphql-stdout]
      log_group_name=/aws/elasticbeanstalk/`{ "Ref" : "AWSEBEnvironmentName" }`/containers/graphql-stdout.log
      log_stream_name={instance_id}
      file=/var/log/containers/graphql-*-stdouterr.log

      [/var/log/containers/home-stdout]
      log_group_name=/aws/elasticbeanstalk/`{ "Ref" : "AWSEBEnvironmentName" }`/containers/home-stdout.log
      log_stream_name={instance_id}
      file=/var/log/containers/home-*-stdouterr.log

      [/var/log/containers/upload-redis-stdout]
      log_group_name=/aws/elasticbeanstalk/`{ "Ref" : "AWSEBEnvironmentName" }`/containers/upload-redis-stdout.log
      log_stream_name={instance_id}
      file=/var/log/containers/upload-redis-*-stdouterr.log

      [/var/log/containers/redis-stdout]
      log_group_name=/aws/elasticbeanstalk/`{ "Ref" : "AWSEBEnvironmentName" }`/containers/redis-stdout.log
      log_stream_name={instance_id}
      file=/var/log/containers/redis-*-stdouterr.log

      [/var/log/containers/training-stdout]
      log_group_name=/aws/elasticbeanstalk/`{ "Ref" : "AWSEBEnvironmentName" }`/containers/training-stdout.log
      log_stream_name={instance_id}
      file=/var/log/containers/training-*-stdouterr.log

      [/var/log/containers/admin-stdout]
      log_group_name=/aws/elasticbeanstalk/`{ "Ref" : "AWSEBEnvironmentName" }`/containers/admin-stdout.log
      log_stream_name={instance_id}
      file=/var/log/containers/admin-*-stdouterr.log

      [/var/log/containers/chat-stdout]
      log_group_name=/aws/elasticbeanstalk/`{ "Ref" : "AWSEBEnvironmentName" }`/containers/chat-stdout.log
      log_stream_name={instance_id}
      file=/var/log/containers/chat-*-stdouterr.log

      [/var/log/containers/upload-api-stdout]
      log_group_name=/aws/elasticbeanstalk/`{ "Ref" : "AWSEBEnvironmentName" }`/containers/upload-api-stdout.log
      log_stream_name={instance_id}
      file=/var/log/containers/upload-api-*-stdouterr.log

      [/var/log/containers/upload-worker-stdout]
      log_group_name=/aws/elasticbeanstalk/`{ "Ref" : "AWSEBEnvironmentName" }`/containers/upload-worker-stdout.log
      log_stream_name={instance_id}
      file=/var/log/containers/upload-worker-*-stdouterr.log

      [/var/log/containers/classifier-stdout]
      log_group_name=/aws/elasticbeanstalk/`{ "Ref" : "AWSEBEnvironmentName" }`/containers/classifier-stdout.log
      log_stream_name={instance_id}
      file=/var/log/containers/classifier-*-stdouterr.log

      [/var/log/containers/nginx-stdout]
      log_group_name=/aws/elasticbeanstalk/`{ "Ref" : "AWSEBEnvironmentName" }`/containers/nginx-stdout.log
      log_stream_name={instance_id}
      file=/var/log/containers/nginx-*-stdouterr.log

      [/var/log/containers/nginx-error]
      log_group_name=/aws/elasticbeanstalk/`{ "Ref" : "AWSEBEnvironmentName" }`/containers/nginx-error.log
      log_stream_name={instance_id}
      file=/var/log/containers/nginx/error.log

      [/var/log/containers/nginx-access]
      log_group_name=/aws/elasticbeanstalk/`{ "Ref" : "AWSEBEnvironmentName" }`/containers/nginx-access.log
      log_stream_name={instance_id}
      file=/var/log/containers/nginx/access.log

commands:
# service should be enabled with terraform
  "01":
    command: service awslogs restart
